   
    <div class="secContent" data-searchable data-search-url="'assetGroup'" data-search-params-preprocess="formatSearchFields()"
            data-search-params="searchParams" data-search-response="searchResponse" data-broadcast-signal="initiate-assetgroup-search" role="search">
        <div class="fieldGroup">
        <div class="boxWrap setup2">
<div class="boxTitle"><h2 tabindex="-1">Component Branding Search</h2></div>
<div>
            <ul>
                <li>
                    <span class="tenant-auto-complete">
                        <label for="Tenant" title="Tenant">Tenant:</label>
                        <span data-tenant-auto-complete data-on-select="changeSearchTenant(newTenant)" data-tenant-model="searchParams.tenantName" data-tenant-type="{{selectedTenantType}}"></span>
                        
                        <br />
                        
                        <a class="fieldLink" data-tenant-type-modal data-selected-tenant-type="selectedTenantType" href="">
                            <span class="subGroup" data-ng-show="!selectedTenantType">Filter</span>
                            <span class="subGroup" data-ng-show="selectedTenantType">Filtered By: {{selectedTenantType}}</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span> 
                          <label for="Component" title="Component">Component:</label>
                          <select class="wide-select" data-ng-model="searchParams.componentName" data-ng-options="component.name as component.name for component in components">
                               <option value="">Select...</option>
                          </select>
                    </span>
                </li>
                <li>
                    <span> 
                    </span>
                </li>
            </ul>
                    
            <button tabindex="0" value="Search" title="Search" type="button" type="button" class="boxBtn" data-search-on-click data-active-indicator="searchResponse.searching">
                <span aria-hidden="true" class="btnIcon icon_sprite icon_reTry2 ng-class:{ajax_indicator:activeIndicator}"></span>
                <span class="btnText">Search</span>
            </button>
            <button tabindex="0" value="New" title="New" type="button" type="button" class="boxBtn" data-ng-click="createNewItem()">
                <span aria-hidden="true" class="btnIcon icon_sprite icon_saveAdd2"></span> <span class="btnText">New</span>
            </button>
            <button tabindex="0" value="Clear Search" title="Clear Search" type="button" class="boxBtn" data-clear-and-search-on-click data-active-indicator="searchResponse.searching">
                <span aria-hidden="true"class="btnIcon icon_sprite icon_cancel2 ng-class:{ajax_indicator:activeIndicator}"></span><span class="btnText">Clear Search</span>
            </button>
        </div>
        <div data-pageable data-paging-info="searchResponse" data-search-params="searchParams" data-change-page="changePage()">
            <table class="dataTable" data-accessible-table role="grid">
                <colgroup>
                    <col class="doubleActionColumn">
                    <col>
                    <col>
                    <col class="actionColumn">
                </colgroup>
                <tr>
                    <th scope="col" id="buttonHeader" title="Buttons"></th>
                    <th scope="col" id="tenantHeader" title="Tenant" data-sort-on-click data-sort-column="tenant.name" class="headerSortUp">Tenant</th>
                    <th scope="col" id="componentHeader" title="Component" data-sort-on-click data-sort-column="component.name">Component</th>
                    <th scope="col" id="removeHeader" title="Remove"></th>
                </tr>
                <tr data-ng-repeat="assetGroup in searchResponse.searchResults" role="row" id="row{{$index}}">
                    <td class="normalSpace" role="gridcell" id="row{{$index}}-button" aria-labelledby="buttonHeader">
                        <div class="tableButtonGroup">
                            <button tabindex="-1" value="Edit" title="Edit" id="edit{{$index}}" data-ng-click="edit(assetGroup)" class="boxBtn"><span class="btnIcon icon_sprite icon_edit2" aria-hidden="true"></span></button>
                            <button tabindex="-1" value="Clone" title="Clone" id="clone{{$index}}" data-ng-click="clone(assetGroup)" class="boxBtn"><span class="btnIcon icon_sprite icon_copy2" aria-hidden="true"></span></button>
                        </div>
                    </td>
                    <td role="gridcell" id="row{{$index}}-tenant" aria-labelledby="tenantHeader">{{assetGroup.tenant.name}}</td>
                    <td role="gridcell" id="row{{$index}}-component" aria-labelledby="componentHeader">{{assetGroup.component.name}}</td>
                    <td class="normalSpace" role="gridcell" id="row{{$index}}-remove" aria-labelledby="removeHeader">
                        <div class="tableButtonGroup">
                            <button tabindex="-1" value="Remove" title="Remove" id="remove{{$index}}" data-ng-click="remove(assetGroup)" class="boxBtn">
                                <span class="btnIcon icon_sprite icon_delete2" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
